annotated-types==0.7.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
Flask==3.0.0
flask-cors==6.0.2
flask-marshmallow==0.15.0
flask-openapi3==3.1.2
flask-openapi3-elements==9.0.15
flask-openapi3-rapidoc==9.3.8
flask-openapi3-rapipdf==2.2.1
flask-openapi3-redoc==2.5.2
flask-openapi3-scalar==1.44.15
flask-openapi3-swagger==5.31.0
Flask-SQLAlchemy==3.1.1
greenlet==3.3.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
marshmallow==4.2.2
marshmallow-sqlalchemy==0.29.0
packaging==26.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.0.0
SQLAlchemy==2.0.48
SQLAlchemy-Utils==0.42.1
typing-inspection==0.4.2
typing_extensions==4.15.0
Werkzeug==3.1.6
